#home-container {
	display: flex;
	position: absolute;
	width: 100%;
}

#home-btn {
	position: fixed;
	right: 30px;
	top: 15px;
	font-family: roboto;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	font-weight: bold;
	cursor: pointer;
	border-radius: 0.5rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#home-btn:hover {
	background-color: #ffffff33;
}

#home-btn:active:focus {
	background-color: #06151a33;
	border: 1px solid #ffffff33;
	color: #ffffff33;
	box-shadow: rgb(0, 0, 0, 0.5) 1px 1px 3px 0px inset,
		rgba(0, 0, 0, 0.1) -1px -1px 3px 1px inset;
}
