body {
	display: flex;
	flex-direction: column;
	background-color: #333;
	margin: 0;
	color: white;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #10313b;
	padding: 3rem;
	border-radius: 1rem;
	border: 2px solid #06151a;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px,
		rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
}

.form {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: auto auto;
	row-gap: 1rem;
	column-gap: 3rem;
}

.title {
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

label {
	font-weight: bold;
}

.check-box {
	width: 15px;
}

.character-amount-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.number-input {
	width: 2rem;
}

.password-display {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: #00000033;
	padding: 1rem;
	margin-bottom: 2rem;
	border: 1px solid #06151a;
	height: 2rem;
	width: 350px;
	word-break: break-all;
	border-radius: 0.5rem;
}

.btn {
	grid-column: span 2;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	font-weight: bold;
	cursor: pointer;
	border-radius: 1rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn:hover {
	background-color: #ffffff33;
}

.btn:active:focus {
	background-color: #06151a33;
	border: 2px solid #ffffff33;
	color: #ffffff33;
	box-shadow: rgb(0, 0, 0, 0.5) 1px 1px 3px 0px inset,
		rgba(0, 0, 0, 0.1) -1px -1px 3px 1px inset;
}
